form {
  font-family: "PP editorial old";
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

form {
  align-items: center;
  padding: 20px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

label {
  display: block;
  font-weight: 100;
  font-size: 32px;
  margin-bottom: 15px;
  font-weight: bold;
  color: white;
  padding-right: 10px;
  padding-left: 15px;
}

input[type="text"] {
  color: white;
  width: 350px;
  padding: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: black;
}
input[type="email"] {
  color: white;
  width: 350px;
  padding: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: black;
}

textarea {
  color: white;
  width: 400px;
  padding: 100px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 1px solid white;
  border-radius: 4px;
  background-color: black;
}

textarea {
  resize: none;
  height: 100px;
}

input[type="submit"] {
  
  font-family: "PP editorial old";
  background-color: white;
  color: #000000;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
  cursor: none;
}

input[type="submit"]:hover {
  cursor: none;
}